.header{
  width: 100%;
  height: $header-height;
  position: fixed;
  transition: background-color .5s;
  z-index: $z-fixed;
  color: white;




  &--active{
    background-color: white;
    color: #444444;

    & .nav-link:after{
      background: #444444;
    }
    & .nav-btns-bars{
      color: #505151;
    }
    @include from(desktop){
      & .nav-link{
        color: #444444;
      }
    }
  }

  &-wrapper{
    width: 100%;
    height: 100%;
    display: flex;


    @include from(desktop){
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  }
  &-brand{
    display: inline-flex;
    align-items: center;
    height: 100%;

    &-logo{

      color: inherit;
      border: 4px solid;
      padding: .2rem .7rem;
      font-size: 1.5rem;
    }

  }

}