.nav {
  height: 100%;
  position: relative;

  @include from(desktop) {
    width: 100%;
  }

  &-btns {
    margin-right: .8rem;
    margin-bottom: .8rem;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: $z-fixed;

    @include from(desktop) {
      display: none;
    }

    &-bars {
      color: white;
      width: 3.5rem;
      height: 3.5rem;
      font-size: 2.5rem;
      border-radius: 5px;
      border: 2px solid;
      outline: 0;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: color .2s;

      &.active {
        background: transparent;
        border: none;
        color: white;
      }

    }
  }

  &-list {
    position: fixed;
    z-index: $z-tooltip;
    top: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transform: translateX(95vw);
    opacity: 0;
    background: linear-gradient(to right, #0072ff, #00c6ff);
    color: inherit;
    transition: all .5s;

    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: .3;
      z-index: $z-tooltip;

      @include from(desktop){
        display: none;
      }
    }

    @include from(phablet) {
      align-items: center;
    }

    @include from(desktop) {
      background: initial;
      position: static;
      height: $header-height;
      list-style: none;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      transform: translateX(0);
      opacity: 1;
    }



    &--active {
      transform: translateX(0);
      opacity: 1;
    }

  }

  &-item {
    padding: 1rem 2rem;
    position: relative;
    z-index: $z-fixed;

    @include from(desktop) {
      padding: 1rem;
    }
  }

  &-link {
    width: 100%;
    height: 100%;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: $weight-bold;
    transition: border-bottom 1s;
    color: white;
    position: relative;

    @include from(desktop) {
      font-size: 1rem;
      font-weight: $weight-normal;
      text-transform: initial;


    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -7px;
      width: 100%;
      height: 2px;
      background-color: white;
      transform: scale(0);
      transform-origin: left;
      transition: transform .5s;
    }

    &:hover:after {
      transform: scale(1);

    }

    &.active::after {
      transform: scale(1);
    }

  }
}